body {
  overflow-x: hidden;
  transition: background-color 1s ease;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.56;
  letter-spacing: 0.9px;
}

.card {
  border-radius: 1.5rem;
  border: 3.5px solid rgba(33, 33, 33, 0.7);
  background-color: #dfd9c4;
}

.card::before {
  border-radius: 1.3rem;
  background-color: var(--light-color);
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: max(calc(100% - 4%), calc(100% - 20px));
}

.container p.title,
h1.title {
  font-weight: 1000;
  max-width: 100%;
  line-height: 1.09;
  letter-spacing: 1.4px;
  font-size: 2.5rem;
  font-family: 'Bree Serif', serif;
}

.form-control {
  background-color: var(--light-color);
  border-radius: 0.5rem;
  border: 2px solid rgba(33, 33, 33, 0.4);
}

.form-control:focus {
  background-color: var(--light-color);
}
.custom-control-label {
  font-size: 1rem;
}

.custom-control-label::before {
  background-color: var(--light-color);
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--green-color);
  background-color: var(--green-color);
}

.btn-primary {
  font-weight: 500;
  font-family: 'Bree Serif', serif;
  letter-spacing: 1.4px;

  border-color: var(--green-color);
  background-color: var(--green-color);
  border-radius: 0.5rem;
}

.text-center a {
  color: var(--green-color);
}

.bree {
  margin: 0.5rem 0;
  font-family: 'Bree Serif', serif;
}
