.footer {
  position: relative;
  margin-top: 20vh;
  margin-bottom: 0px;
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
  line-height: 1.5;
  background-color: var(--dark-color);
  padding: 5rem 0 0 0;
  width: 100%;
  font-size: 0.9rem;
}
.footer .footer-container {
  position: relative;
  margin: auto;
  max-width: 70%;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-col {
  color: var(--light-color);
  padding: 0 1rem;
}

.footer-col.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-col.logo svg {
  margin-top: 20px;
  fill: var(--light-color);
  width: 9rem;
  height: 9rem;
}

.footer-col .hubungi-wrapper {
  margin-left: -0.5rem;
  display: grid;
  grid-template-columns: 2.5rem 16rem;
  row-gap: 0.5rem;
  align-items: center;
  justify-items: flex-start;
}

.footer-col .hubungi-wrapper i {
  font-size: 1.2rem;

  line-height: 2rem;
  margin: 0.5rem 0rem 0.5rem 0.8rem;
}

.footer-col .hubungi-wrapper p {
  margin: 0;
}

.footer-col .hubungi-wrapper a {
  text-decoration: none;
  color: var(--light-color);
}

.footer-col .hubungi-wrapper a:hover {
  opacity: 0.8;
}

.footer-col.peta {
  flex-shrink: 0;
  overflow: hidden;
}

.footer-col h4 {
  font-size: 1.125rem;
  color: var(--light-color);
  margin-bottom: 5%;
  font-weight: 500;
}

.footer-col .social-links a {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 50%;
  color: var(--light-color);
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: var(--light-color);
}

.footer-bottom {
  position: relative;
  padding: 2rem 0 1rem 0;
}
.footer-bottom .copyright {
  font-size: 0.8rem;
  position: relative;
  text-align: center;
  color: var(--green-color);
}

/* Responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
