body {
  overflow-x: hidden;
  transition: background-color 1s ease;
  background-color: var(--light-color);

  font-family: 'Chivo', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.56;
  letter-spacing: 0.9px;
}

.color-green {
  background-color: var(--green-color);
}

/* Main*/

.grid-container {
  position: relative;
  width: 1280px;
  padding-top: 75px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80vh 80vh 80vh;

  grid-template-areas:
    'headline headline'
    'logo-itv text-itv'
    'text-semnas logo-semnas'
    'dokumentasi dokumentasi'
    'sponsor sponsor';

  row-gap: 40vh;
}

.item {
  font-size: 3rem;
}

.headline {
  place-self: center;
  font-family: 'Bree Serif', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: headline;
}

.headline h1 {
  font-weight: 700;
  max-width: 100%;
  text-align: center;
  font-size: clamp(2.2rem, 5vw, 4.5rem);
  line-height: 1.09;
  letter-spacing: 1.4px;
  color: var(--dark-color);
}

.headline h1:nth-child(2) {
  font-size: clamp(2.3rem, 6vw, 4.8rem);
}

.riseit-container {
  height: 8vh;
  width: 60vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hay-text {
  position: relative;
  line-height: 1.5;
  font-weight: 1000;
  font-size: clamp(2rem, 4vw, 4rem);
  top: 0;
  animation: riseit 4s infinite;
  animation-delay: calc(0.1s * var(--i));
}

.headline iframe {
  border: none;
  width: 45vw;
  height: calc(0.5625 * 45vw);
  overflow: hidden;
  margin-top: 6vh;
}

.logo-itv {
  grid-area: logo-itv;
  display: flex;
  place-items: center;
  place-content: center;
  z-index: 20;
}

.logo-mobile {
  width: 80%;
  max-width: unset;
}

.logo-itv .logo-mobile {
  margin-left: 10%;
}

.logo-semnas .logo-mobile {
  transform-origin: top right;
  margin-right: 10%;
}

.text-itv {
  pointer-events: none;
  position: relative;
  display: flex;
  justify-items: flex-start;
  grid-area: text-itv;
}

.text-semnas {
  pointer-events: none;
  position: relative;
  display: flex;
  grid-area: text-semnas;
}

.logo-semnas {
  grid-area: logo-itv;
  display: flex;
  place-items: center;
  place-content: center;
  z-index: 20;
  grid-area: logo-semnas;
}

.dokumentasi {
  grid-area: dokumentasi;
}

.dokumentasi p {
  font-family: 'Bree Serif', serif;
  text-align: center;
  font-size: clamp(2rem, 5vw, 4.5rem);
  font-weight: 700;
}

.dokumentasi-container {
  padding: 2vmax;
  display: flex;
  margin: auto;
  max-width: 60vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.square-wrapper {
  width: 300px;
  height: 240px;
  border-radius: 0.8rem;
  margin: 2rem 1rem;
  border: 3px solid var(--dark-color);

  overflow: hidden;
}

.square-image {
  transition: transform 0.3s;
}

.square-image:hover {
  transform: scale(1.1);
}

.dokumentasi-container .square-wrapper:nth-child(1) img {
  background-image: url('../img/2020-2.png');
}

.dokumentasi-container .square-wrapper:nth-child(2) img {
  background-image: url('../img/2018-1.png');
}

.dokumentasi-container .square-wrapper:nth-child(3) img {
  background-image: url('../img/2019-1.png');
}

.dokumentasi-container .square-wrapper:nth-child(4) img {
  background-image: url('../img/2019-2.png');
}

.dokumentasi-container .square-wrapper:nth-child(5) img {
  background-image: url('../img/2020-1.png');
}

.dokumentasi-container .square-wrapper:nth-child(6) img {
  background-image: url('../img/2018-2.png');
}

.sponsor {
  grid-area: sponsor;
}

.sponsor p {
  font-family: 'Bree Serif', serif;
  text-align: center;
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 4.5rem);
}

.jelly-canvas {
  pointer-events: auto;

  position: absolute;
  width: 850px;
  height: 850px;
  right: 0;
  top: 0;
}

.inner {
  position: absolute;
  right: 0;
  top: 0;

  width: 850px;
  height: 850px;
  color: var(--light-color);
}

.itv-jelly,
.itv-inner {
  transform-origin: top right;
  left: -100px;
  transform: scale(1);
}

.sem-jelly,
.sem-inner {
  transform-origin: top left;
  right: -100px;
  transform: scale(1);
}

.inner .wrapper {
  position: absolute;
  top: 22%;
  left: 20%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 2;
  justify-content: center;
}

.inner .title {
  font-family: 'Bree Serif';
  max-width: 100%;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 1000;
  letter-spacing: 1.6px;
}

.inner .description {
  margin-top: 10%;
  font-size: 1.4rem;
}

.btn,
button {
  position: relative;

  pointer-events: auto;
  cursor: pointer;

  stroke: var(--dark-color);
  stroke-width: 4;

  border: 5px solid var(--dark-color);
  margin-top: 15%;
  background-color: var(--green-color);

  font-family: 'Bree Serif', serif;
  font-size: 1.2rem;
  padding: 0.7rem 0.7rem;
  border-radius: 7px;
  width: 45%;
}

.btn-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}
.btn-arrow:hover span {
  transform: translate3d(-1rem, 0, 0);
}
.btn-arrow svg {
  position: absolute;
  width: 1.1em;
  right: 0px;
  opacity: 0;
  top: 60%;
  fill: var(--dark-color);

  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.btn-arrow:hover svg {
  opacity: 1;
  right: -2rem;
}

@media screen and (max-width: 1280px) {
  .grid-container {
    width: 95%;
  }

  .logo-mobile {
    width: 90% !important;
    max-width: 500px;
    margin: 0 !important;
    transform: scale(0.9);
  }

  .itv-jelly,
  .itv-inner {
    left: -330px;
    transform: scale(0.8);
  }

  .sem-jelly,
  .sem-inner {
    left: -80px !important;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 900px) {
  .grid-container {
    pointer-events: none;
    position: relative;
    grid-template-rows: 70vh 40vh 60vh 40vh 60vh;
    row-gap: 30vh;
    grid-template-areas:
      'headline headline'
      'logo-itv logo-itv'
      'text-itv text-itv'
      'logo-semnas logo-semnas'
      'text-semnas text-semnas'
      'dokumentasi dokumentasi'
      'sponsor sponsor';
  }

  .logo-mobile {
    width: 95% !important;
  }

  .headline iframe {
    width: 85vw;
    height: calc(0.5625 * 85vw);
  }

  .dokumentasi-container {
    max-width: 85vw;
  }

  .text-itv,
  .text-semnas {
    margin-top: -40vh;
  }

  .itv-jelly,
  .itv-inner {
    left: unset;
    transform: scale(0.8);
  }
}

@keyframes riseit {
  0%,
  25%,
  100% {
    transform: translateY(0);
  }
  60%,
  90% {
    transform: translateY(-1.5vh);
  }
}
