body {
  overflow-x: hidden;
  transition: background-color 1s ease;
  background-color: var(--light-color);

  font-family: 'Chivo', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.56;
  letter-spacing: 0.9px;
}

.color-green {
  background-color: var(--green-color);
}

/* Main*/

.grid-container {
  position: relative;
  width: 1280px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(50rem, 100vh) 40rem 40rem;

  grid-template-areas:
    'headline headline'
    /* 'countdown countdown' */
    'logo-itv text-itv'
    'text-semnas logo-semnas'
    'dokumentasi dokumentasi'
    'sponsor sponsor';

  row-gap: 40vh;
}

.item {
  font-size: 3rem;
}

.headline {
  place-self: center;
  font-family: 'Bree Serif', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: headline;
}

.headline h1 {
  font-weight: 700;
  max-width: 90%;
  text-align: center;
  font-size: clamp(2.2rem, 5vmin, 4.5rem);
  line-height: 1.09;
  letter-spacing: 1.4px;
  color: var(--dark-color);
}

.headline h1:nth-child(2) {
  font-size: clamp(2.3rem, 6vw, 4.8rem);
}

.riseit-container {
  height: 8vh;
  width: 60vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hay-text {
  position: relative;
  line-height: 1.5;
  font-weight: 1000;
  font-size: clamp(2rem, 4vw, 4rem);
  top: 0;
  animation: riseit 4s infinite;
  animation-delay: calc(0.1s * var(--i));
}

.headline iframe {
  border: none;
  --width-frame: max(45vw, 700px);
  width: var(--width-frame);
  height: calc(0.5625 * var(--width-frame));
  overflow: hidden;
  margin-top: 6vh;
}

.logo-itv {
  grid-area: logo-itv;
  display: flex;
  place-items: center;
  place-content: center;
  z-index: 20;
}

.logo-acara {
  position: relative;

  width: 600px;
}

.logo-semnas video {
  top: -40px;
}

.text-itv {
  pointer-events: none;
  position: relative;
  display: flex;
  justify-items: flex-start;
  grid-area: text-itv;
}

.text-semnas {
  pointer-events: none;
  position: relative;
  display: flex;
  grid-area: text-semnas;
}

.logo-semnas {
  grid-area: logo-itv;
  display: flex;
  place-items: center;
  place-content: center;
  z-index: 20;
  grid-area: logo-semnas;
}

.dokumentasi {
  grid-area: dokumentasi;
}

.dokumentasi p {
  font-family: 'Bree Serif', serif;
  text-align: center;
  font-size: clamp(3rem, 5vw, 4.5rem);
  font-weight: 700;
}

.dokumentasi-container {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.square-wrapper {
  width: 300px;
  height: 240px;
  border-radius: 0.8rem;
  margin: 2rem 1rem;
  border: 3px solid var(--dark-color);

  overflow: hidden;
}

.square-image {
  transition: transform 0.3s;
}

.square-image:hover {
  transform: scale(1.1);
}

.dokumentasi-container .square-wrapper:nth-child(1) img {
  background-image: url('../img/2020-2.png');
}

.dokumentasi-container .square-wrapper:nth-child(2) img {
  background-image: url('../img/2018-1.png');
}

.dokumentasi-container .square-wrapper:nth-child(3) img {
  background-image: url('../img/2019-1.png');
}

.dokumentasi-container .square-wrapper:nth-child(4) img {
  background-image: url('../img/2019-2.png');
}

.dokumentasi-container .square-wrapper:nth-child(5) img {
  background-image: url('../img/2020-1.png');
}

.dokumentasi-container .square-wrapper:nth-child(6) img {
  background-image: url('../img/2018-2.png');
}

.itv-wrapper,
.sem-wrapper {
  position: relative;
  top: -80px;
  right: 0;
  bottom: 0;
  transform: scale(1);
}

.jelly-canvas {
  pointer-events: auto;
  position: relative;
  width: 800px;
  height: 800px;
  right: 0;
  top: 0;
}

.inner {
  position: absolute;
  width: 800px;
  height: 800px;
  color: var(--light-color);
}

.inner .wrapper {
  position: absolute;
  top: 20%;
  left: 21%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 2;
  justify-content: center;
}

.inner .title {
  font-family: 'Bree Serif';
  max-width: 100%;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 1000;
  letter-spacing: 1.6px;
}

.inner .description {
  margin-top: 8%;
  font-size: 1.4rem;
}

.btn,
button {
  position: relative;

  pointer-events: auto;
  cursor: pointer;

  stroke: var(--dark-color);
  stroke-width: 4;

  border: 5px solid var(--dark-color);
  margin-top: 8%;
  background-color: var(--green-color);

  font-family: 'Bree Serif', serif;
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 7px;
  width: 45%;
}

.btn-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}
.btn-arrow:hover span {
  transform: translate3d(-1rem, 0, 0);
}
.btn-arrow svg {
  position: absolute;
  width: 1.1em;
  right: 0px;
  opacity: 0;
  top: 60%;
  fill: var(--dark-color);

  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.btn-arrow:hover svg {
  opacity: 1;
  right: -2rem;
}

.countdown-container {
  position: relative;
  top: -10rem;
  place-self: center;
  min-height: 100vh;
  grid-area: countdown;
}

.countdown-wrapper {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.countdown-wrapper .countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.countdown-wrapper .header {
  color: var(--dark-color);
  font-family: 'Bree Serif', serif;
  text-align: center;
  font-size: clamp(3rem, 3.5vw, 4.8rem);
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.countdown-wrapper h2.header {
  font-size: clamp(2rem, 3vw, 4.5rem);
  margin-bottom: 3rem;
}

.countdown-wrapper .count {
  color: var(--dark-color);
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.countdown-wrapper .count .sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.countdown-wrapper .count .sec h2 {
  color: var(--light-color);
  font-size: min(11vw, 6rem);
  background: var(--dark-color);
  padding: min(2vw, 2rem) min(3vw, 3rem);
  border-radius: 1rem;
  margin-bottom: 1.5vh;
}

.countdown-wrapper .count .sec p {
  font-size: clamp(0.9rem, 2vw, 3rem);
  letter-spacing: 5px;
}

.home-daftar .btn {
  border-radius: 1rem;
  background-color: var(--dark-color) !important;
}

.home-daftar {
  margin-top: 4rem;
  width: min(80vw, 24rem);
  height: 7rem;
}

.home-daftar a {
  width: min(80vw, 24rem);
  height: 7rem;
}

.home-daftar a::after {
  content: '';
  position: absolute;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
  border-radius: 1rem;
  border: 5px solid var(--light-color);
}

.home-daftar .daftar-text {
  color: var(--light-color);
  display: inline-block;
  font-size: 1.9rem;
  margin: 1rem 0;
}

@media screen and (min-width: 1280px) {
  .countdown {
    width: 90%;
  }
  .itv-wrapper,
  .sem-wrapper {
    left: -80px !important;
    transform: scale(1) !important;
  }
}

@media screen and (max-width: 1280px) and (min-width: 900px) {
  .itv-wrapper,
  .sem-wrapper {
    transform: scale(0.8) !important;
  }
  .itv-wrapper {
    left: calc(-0.425 * 380px) !important;
  }

  .sem-wrapper,
  .logo-semnas .logo-acara {
    left: -100px !important;
  }
  .logo-itv {
    place-content: flex-start;
  }
}

@media screen and (max-width: 1280px) {
  .headline {
    margin-top: -20vh;
  }
  .grid-container {
    margin: auto;
    width: 100vw;
  }

  .logo-acara {
    width: 95% !important;
    min-width: 500px;
    margin: 0 !important;
  }
  .countdown-wrapper .count .sec p {
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 900px) {
  .grid-container {
    position: relative;
    grid-template-rows: minmax(50rem, 100vh) auto 40rem auto 40rem;
    /* coundown */
    /* grid-template-rows: minmax(50rem, 100vh) 40rem auto 40rem auto 40rem; */
    row-gap: 10vh;
    grid-template-areas:
      'headline headline'
      /* 'countdown countdown' */
      'logo-itv logo-itv'
      'text-itv text-itv'
      'logo-semnas logo-semnas'
      'text-semnas text-semnas'
      'dokumentasi dokumentasi'
      'sponsor sponsor';
  }

  .itv-wrapper,
  .sem-wrapper {
    z-index: 100;
  }

  .logo-acara {
    min-width: 300px;
  }

  .headline iframe {
    pointer-events: auto;

    width: 85vw;
    height: calc(0.5625 * 85vw);
  }

  .dokumentasi-container {
    max-width: 85vw;
  }

  .text-itv,
  .text-semnas {
    margin-top: -14rem;
  }
}

@media screen and (max-width: 350px) {
  .itv-text,
  .sem-text {
    width: 120vw !important;
  }
}

@keyframes riseit {
  0%,
  25%,
  100% {
    transform: translateY(0);
  }
  60%,
  90% {
    transform: translateY(-1.5vh);
  }
}
