body {
  transition: background-color 1s ease;
  background-color: var(--light-color);
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.56;
  letter-spacing: 0.9px;
  overflow-x: hidden;
  height: 19000px;
}

.site-header {
  position: fixed !important;
}

.headline {
  display: flex;
  height: 100vh;
  background-color: var(--dark-color);
  position: relative;
  font-family: 'Bree Serif', serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: headline;
  z-index: 10;
}

.item-headline {
  margin-top: -15vh;
  color: var(--light-color);
  line-height: 1.09;
  letter-spacing: 1.4px;
  text-align: center;
}

.item-headline h1 {
  font-weight: 1000;
  font-size: clamp(2rem, 5vw, 4.5rem);
}

.item-headline h1:nth-child(2) {
  font-size: clamp(2.3rem, 6vw, 4.8rem);
}

.idea-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}
.hay-text {
  margin-top: 2vh;
  line-height: 1.5;
  font-size: clamp(1.5rem, 4vw, 4rem);
}

.hay-text.idea {
  color: var(--green-color);
}

.container-sem {
  z-index: 0;
  top: 75px;
  width: 100vw;
  position: relative;
}

.deskripsi-sem {
  position: relative;
  z-index: 10;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

.deskripsi-sem h2 {
  font-family: 'Bree Serif', serif;
  font-weight: 1000;
  font-size: clamp(2.3rem, 6vw, 4.8rem);
}

.deskripsi-sem p {
  width: 90%;
  flex-shrink: 0;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.daftar-sem.button {
  margin: 2rem 2rem 1rem 2rem;
  width: 19rem;
}

.daftar-sem .btn {
  padding: 1.2rem 0;
  border: 0.2rem solid var(--dark-color);
}

.btn,
button {
  position: relative;
  pointer-events: auto;
  cursor: pointer;
  stroke: var(--dark-color);
  stroke-width: 4;
  border: 2px solid var(--dark-color);
  font-family: 'Bree Serif', serif;
  font-size: 0.8rem;
  width: 100%;
}

.daftar-sem .btn span {
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
  will-change: transform;
  transition: all 100ms ease;
  transition-duration: 100ms;
}

.container-fixed .container-sem {
  position: fixed;
}

.container-fixed .footer {
  margin-top: 100vh;
}

.footer {
  top: 17000px;
}

.makan div {
  position: fixed;
  width: 100%;
  min-height: 100%;
  text-align: center;
  top: 50%;
  opacity: 0;
  font-size: 30px;
}

.makan .flex {
  display: flex;
}

.makan span {
  position: fixed;
  width: 100%;
  min-height: 100%;
  text-align: center;
  top: 50%;
  opacity: 0;
  font-size: 30px;
}
