body {
  transition: background-color 1s ease;
  background-color: var(--light-color);
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.56;
  letter-spacing: 0.9px;
  overflow-x: hidden;
  height: 100vh;
}

.site-header {
  position: fixed !important;
}

.headline {
  display: flex;
  height: max(40rem, 100vh);
  background-color: var(--dark-color);
  position: relative;
  font-family: 'Bree Serif', serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: headline;
  z-index: 10;
}

.item-headline {
  margin-top: -15vh;
  color: var(--light-color);
  line-height: 1.09;
  letter-spacing: 1.4px;
  text-align: center;
}

.item-headline h1 {
  font-weight: 1000;
  font-size: clamp(2rem, 5vw, 4.5rem);
}

.item-headline h1:nth-child(3) {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.idea-container {
  margin-top: -5%;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}
.hay-text {
  margin-top: 2vh;
  line-height: 1.5;
  font-size: clamp(1.5rem, 4vw, 4rem);
}

.hay-text.idea {
  color: var(--green-color);
}

.container-sem {
  display: grid;
  grid-template-areas:
    'deskripsi logo'
    'informasi informasi'
    'pembicara pembicara'
    'sponsor sponsor';
  grid-template-columns: 1fr 1fr;

  z-index: 0;
  top: 150px;
  width: 1280px;
  margin: auto;
  position: relative;
}

.deskripsi-sem {
  margin: auto;
  grid-area: deskripsi;
}

.deskripsi-sem h2 {
  font-family: 'Bree Serif', serif;
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  font-weight: 700;
}

.deskripsi-sem p {
  font-size: clamp(1.1rem, 1.5vw, 1.5rem);
  text-align: justify;
}

.daftar-sem.button {
  margin-top: 5rem;
  display: flex;
  place-content: flex-end;
}

.daftar-sem .btn {
  position: relative;
  pointer-events: auto;
  cursor: pointer;
  stroke: var(--dark-color);
  stroke-width: 4;
  padding: 0.5rem 0;
  border: 0.2rem solid var(--dark-color);
  font-family: 'Bree Serif', serif;
  font-size: 0.8rem;
  width: 19rem;
  height: 4.2rem;
}

.daftar-sem .btn span {
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
  will-change: transform;
  transition: all 100ms ease;
  transition-duration: 100ms;
}

.logo-sem {
  grid-area: logo;
  margin: auto;
  max-width: 30rem;
  width: 70%;
}

.informasi-sem {
  grid-area: informasi;
  height: 20rem;
}

.pembicara-sem {
  grid-area: pembicara;
}

@media screen and (max-width: 1280px) {
  .container-sem {
    width: 90vw;
    display: grid;
    grid-template-areas:
      'logo logo'
      'deskripsi deskripsi'
      'informasi informasi'
      'pembicara pembicara'
      'sponsor sponsor';
    row-gap: 5vh;
  }

  .deskripsi-sem {
    width: 90%;
  }
  .deskripsi-sem h2,
  .deskripsi-sem p {
    text-align: center;
  }
}
