body {
  overflow-x: hidden;
  transition: background-color 1s ease;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.56;
  letter-spacing: 0.9px;
}

.row {
  margin: 3rem 0;
}

div.title,
h1.title {
  font-weight: 1000;
  letter-spacing: 1.5px;
  font-family: 'Bree Serif', serif;
}

a {
  color: var(--green-color);
}
