.sponsor {
  grid-area: sponsor;
  display: flex;
  place-content: center;
  flex-direction: column;
  place-items: center;
}

.sponsor-container {
  border-radius: 1rem;
  width: min(80rem, 80vw);
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
}

.big-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  place-items: center;
}

.small-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  place-items: center;
}

.small-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  place-items: center;
  max-width: 50%;
}

.sponsor-logo {
  margin: 2.5rem;
}

.sponsor-image {
  width: 100%;
  opacity: 1;
  transition: opacity 200ms ease;
}

.sponsor p {
  font-family: 'Bree Serif', serif;
  text-align: center;
  font-weight: 700;
  font-size: clamp(3rem, 4vw, 4rem);
}

.sponsor .sponsor-button {
  width: min(100vw, 30rem);
  display: flex;
  place-items: center;
  place-content: center;
}

.sponsor-big {
  width: 40%;
  min-width: 14rem;
}

.sponsor-small {
  width: 28%;
  min-width: 5rem;
}

.sponsor-tiny {
  width: 9%;
  min-width: 3rem;
}

.sponsor .btn {
  background-color: var(--light-color);
  border-radius: 1rem;
  border: 3px solid var(--dark-color);
}

.sponsor-logo:hover .sponsor-image {
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .sponsor-logo {
    margin: 1rem;
  }
}
