:root {
    --light-color: #f2efe7;
    --dark-color: #212121;
  }
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    overflow-x: hidden;
    transition: background-color 1s ease;
    height: 400vh;
    background-color: var(--light-color);
  
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.56;
    letter-spacing: 0.9px;
  }
  
  .color-green {
    background-color: #31c48c;
    /* background-color: #3fad89; */
  }
  
  /* site-header */
  
  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    position: fixed;
    height: 75px;
    width: 100%;
  
    background-color: var(--light-color);
    transition: background 0.3s ease 0s;
    z-index: 1000;
  }
  
  .logo-ping svg {
    position: relative;
    padding-top: 10px;
    fill: var(--dark-color);
    width: 45px;
    height: 45px;
  }
  
  .logo-ping path {
    transition: fill 0.3s ease;
  }
  
  .logo-ping svg:hover path:nth-child(1) {
    fill: #ee7929;
  }
  .logo-ping svg:hover path:nth-child(2) {
    fill: #e52129;
  }
  .logo-ping svg:hover path:nth-child(3) {
    fill: #acce22;
  }
  .logo-ping svg:hover path:nth-child(4) {
    fill: #00a2e9;
  }
  
  .logo-ping a {
    text-decoration: none;
  }
  
  .logo-ping span {
    position: relative;
    left: 10px;
    top: -10px;
  
    color: var(--dark-color);
    font-size: 2rem;
    font-weight: 1000;
    letter-spacing: 2px;
  }
  
  .site-header ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
  }
  
  .site-header ul li a {
    position: relative;
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1px;
    z-index: 10;
  }
  
  .login {
    padding: 5px 20px;
    border: 2px solid var(--dark-color);
    border-radius: 8px;
    box-shadow: inset 0 0 0 0 #d80286;
  }
  
  .login:hover {
    color: var(--light-color);
  }
  
  .login:before {
    content: '';
    position: absolute;
    background: var(--dark-color);
  
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    border-radius: 5px;
  
    transform: scaleX(0);
    transform-origin: bottom right;
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.4s ease;
  
    z-index: -1;
  }
  
  .login:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
    opacity: 1;
  }
  
  a.navlink::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    bottom: -5px;
    left: 0;
    background-color: var(--dark-color);
    border-radius: 25px;
  
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .site-header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  /* Sticky */
  
  .site-header.sticky {
    background-color: var(--dark-color);
  }
  
  /* nav.sticky span {
    color: var(--light-color);
    display: none;
  } */
  
  .site-header.sticky svg {
    fill: var(--light-color);
  }
  
  .site-header.sticky ul li a {
    color: var(--light-color);
  }
  
  .site-header.sticky .login {
    border: 2px solid var(--light-color);
  }
  
  .site-header.sticky .login:hover {
    color: var(--dark-color);
  }
  
  .site-header.sticky .login:hover::before {
    color: var(--light-color);
  }
  
  /* .site-header.sticky .login::before {
    background: var(--light-color);
  } */
  
  .site-header.sticky ul li a::before {
    background-color: var(--light-color);
  }
  
  /* Hamburger menu */
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    height: 24px;
    justify-content: space-between;
  }
  
  .menu-toggle span {
    display: block;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 4px;
    background: var(--dark-color);
    border-radius: 3px;
    transition: all 0.5s;
  }
  
  .site-header.mobile-menu .menu-toggle span:nth-child(1) {
    transform-origin: 0 0;
    transform: rotate(45deg) translate(-1px, -1px);
  }
  
  .site-header.mobile-menu .menu-toggle span:nth-child(2) {
    transition: all 0.1s;
    opacity: 0;
  }
  
  .site-header.mobile-menu .menu-toggle span:nth-child(3) {
    transform-origin: 0 100%;
    transform: rotate(-45deg) translate(-1px, 0);
  }
  
  .site-header.sticky .menu-toggle span {
    background: var(--light-color);
  }
  
  /* Main*/
  
  .grid-container {
    position: relative;
    width: 80%;
    top: 75px;
    margin: auto;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80vh 80vh 80vh 40vh 40vh;
  
    grid-template-areas:
      'headline headline'
      'logo-itv text-itv'
      'text-semnas logo-semnas'
      'sponsor sponsor'
      'footer footer';
  
    row-gap: 50vh;
  }
  
  .item {
    font-size: 3rem;
  }
  
  .headline {
    place-self: center;
    font-family: 'Bree Serif', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: headline;
  }
  
  .headline h1 {
    max-width: 100%;
    text-align: center;
    font-size: clamp(2rem, 5vw, 4.5rem);
    line-height: 1.09;
    letter-spacing: 1.4px;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    color: var(--dark-color);
  }
  
  .headline h1:nth-child(2) {
    font-size: clamp(2.3rem, 6vw, 4.8rem);
  }
  
  .headline iframe {
    border: none;
    width: 45vw;
    height: calc(0.5625 * 45vw);
    overflow: hidden;
    padding: 2vh;
  }
  
  .logo-itv {
    background-color: #e52129;
    grid-area: logo-itv;
  }
  
  .text-itv {
    pointer-events: none;
    position: relative;
    display: flex;
    grid-area: text-itv;
  }
  
  .text-semnas {
    pointer-events: none;
    position: relative;
    display: flex;
    grid-area: text-semnas;
  }
  
  .logo-semnas {
    background-color: #00a2e9;
  
    grid-area: logo-semnas;
  }
  
  .sponsor {
    background-color: #d80286;
    grid-area: sponsor;
  }
  
  .footer {
    background-color: #ee7929;
    grid-area: footer;
  }
  
  .jelly-canvas {
    pointer-events: auto;
  
    position: absolute;
    width: 850px;
    height: 850px;
    right: 0;
    top: 0;
  }
  
  .inner {
    position: absolute;
    right: 0;
    top: 0;
  
    width: 850px;
    height: 850px;
    color: var(--light-color);
  }
  
  .itv-jelly,
  .itv-inner {
    transform-origin: top right;
  }
  
  .sem-jelly,
  .sem-inner {
    transform-origin: top left;
  }
  
  .inner .wrapper {
    position: absolute;
    top: 22%;
    left: 22%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 2;
    justify-content: center;
  }
  
  .inner .title {
    font-family: 'Bree Serif', serif;
    max-width: 100%;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 1.6px;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
  }
  
  .inner .description {
    margin-top: 10%;
    font-size: 1.5rem;
  }
  
  .btn,
  button {
    position: relative;
  
    pointer-events: auto;
    cursor: pointer;
  
    stroke: var(--dark-color);
    stroke-width: 4;
  
    border: 5px solid var(--dark-color);
    margin-top: 15%;
    background-color: #31c48c;
  
    font-family: 'Bree Serif', serif;
    font-size: 1.2rem;
    padding: 0.7rem 0.7rem;
    border-radius: 7px;
    width: 45%;
  }
  
  .btn-arrow span {
    display: inline-block;
    position: relative;
    transition: all 300ms ease-out;
    will-change: transform;
  }
  .btn-arrow:hover span {
    transform: translate3d(-1rem, 0, 0);
  }
  .btn-arrow svg {
    position: absolute;
    width: 1.1em;
    right: 0px;
    opacity: 0;
    top: 60%;
    fill: var(--dark-color);
  
    transform: translateY(-50%);
    transition: all 300ms ease-out;
    will-change: right, opacity;
  }
  
  .btn-arrow:hover svg {
    opacity: 1;
    right: -2rem;
  }
  
  @media screen and (max-width: 900px) {
    .menu-toggle {
      display: flex;
    }
  
    .site-header ul {
      position: absolute;
      top: 75px;
      width: 100%;
      height: 50vh;
  
      background-color: var(--light-color);
  
      display: grid;
      grid-template-columns: 1fr;
      grid-column: 1/4;
      text-align: center;
      max-height: 0;
      overflow: hidden;
      transition: background 0.3s ease 0s, max-height ease-in-out 0.3s;
    }
    .site-header.mobile-menu ul {
      max-height: 50vh;
    }
  
    .site-header.sticky ul {
      background-color: var(--dark-color);
    }
  
    .grid-container {
      pointer-events: none;
      position: relative;
      width: 95%;
      grid-template-rows: 70vh 40vh 60vh 40vh 60vh 40vh 40vh;
      row-gap: 30vh;
  
      grid-template-areas:
        'headline headline'
        'logo-itv logo-itv'
        'text-itv text-itv'
        'logo-semnas logo-semnas'
        'text-semnas text-semnas'
        'sponsor sponsor'
        'footer footer';
    }
  
    .headline iframe {
      width: 85vw;
      height: calc(0.5625 * 85vw);
    }
    .logo-itv,
    .logo-semnas,
    .sponsor {
      margin-top: 30vh;
    }
  }
  